In [1]:
import pandas as pd
df = pd.read_csv('test.csv')

In [2]:
df.head()

   row_id  building_id  meter            timestamp
0       0            0      0  2017-01-01 00:00:00
1       1            1      0  2017-01-01 00:00:00
2       2            2      0  2017-01-01 00:00:00
3       3            3      0  2017-01-01 00:00:00
4       4            4      0  2017-01-01 00:00:00

In [3]:
len(df['building_id'].drop_duplicates())

1449

In [4]:
df['timestamp'].max()

'2018-12-31 23:00:00'

In [2]:
df.shape

(41697600, 4)

## Sample submission

In [3]:
df2 = pd.read_csv('sample_submission.csv')

In [4]:
df2.shape

(41697600, 2)

In [5]:
df2.head(10)

   row_id  meter_reading
0       0              0
1       1              0
2       2              0
3       3              0
4       4              0
5       5              0
6       6              0
7       7              0
8       8              0
9       9              0

In [7]:
import numpy as np
np.sum(df2['meter_reading']>0)

0